html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, p, ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.cards {
    padding: 100px 0;

    &__inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 33px;
    }
}

.card {
    width: 264px;
    height: 275px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 13px;
    padding: 32px 24px;
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,.3);
    color: #838383;
    text-align: right;
    transition: all .2s linear;

    &__level {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        &-star {
            width: 57px;
            height: 57px;
            border-radius: 50%;
            position: relative;
            background-color: transparent;
            transition: all .2s linear;

            &::before {
                position: absolute;
                content: '';
                width: 25px;
                height: 25px;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                margin: 0 auto;
                background-image: url('../images/star-blue.webp');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: all .2s linear;
            }
        }

        &-text {
            font-size: 32px;
            line-height: 38px;
        }
    }

    &__req {
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__task {
        font-size: 15px;
        line-height: 20px;
        padding-right: 35px;
        position: relative;
        margin-bottom: 5px;

        &::after {
            position: absolute;
            content: '';
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
            width: 13px;
            height: 13px;
            background-image: url('../images/circle.webp');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all .2s linear;
        }
    }

    &__turnover {
        font-size: 13px;
        line-height: 18px;
        margin-top: auto;
    }


    &.active {
        background: linear-gradient(90deg, #36d695, #3ee097);
        color: #fff;
    }

    &.active &__level-star {
        background-color: rgba(0,0,0,.2);

        &::before {
            background-image: url('../images/star-white.webp');
        }
    }

    &.active &__task::after {
        background-image: url('../images/accept.webp');
        right: 0;
        width: 18px;
        height: 18px;
    }
}